.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    gap: 150px;
    padding: 25px;
    justify-content: center;
    margin-right: 100px;
    margin-bottom: 15px;
}

.fondo1 {
    background-image: url("../styles/imagenes/fondito.png");
}

.button {
    background: none;
    border: 2px solid;
    border-radius: 10px;
    font: inherit;
    line-height: 0;
    margin: 0.5em;
    padding: 0.8em 1.5em;
    color: var(--color);
    transition: 0.25s;
}
.button:hover {
    border-color: var(--hover);
    color: #fff;
}

.videoContainer {
    background-image: url("../styles/videos/loading.gif");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;

    padding-top: 250px;
    margin: 0px;
}
.loadingContainer {
    background-image: url("../styles/videos/loading.gif");
    background-position: center;
    background-size: cover;
}

.loadingGif {
    height: 100vh;
    width: 100vw;
}

.pagContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1 {
    background: none;
    border: 2px solid;
    border-radius: 10px;
    font: inherit;
    line-height: 0;
    margin: 0.5em;
    padding: 0.8em 1.5em;
    color: var(--color);
    transition: 0.25s;
    color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}

.button2 {
    background: none;
    border: 2px solid;
    border-radius: 10px;
    font: inherit;
    line-height: 0;
    margin: 0.5em;
    padding: 0.8em 1.5em;
    color: var(--color);
    transition: 0.25s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}
.button2:hover {
    color: rgba(250, 235, 215, 0.705);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}

.button3 {
    background: none;
    border: 2px solid;
    border-radius: 10px;
    font: inherit;
    line-height: 0;
    margin: 0.5em;
    padding: 0.8em 1.5em;
    color: var(--color);
    transition: 0.25s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}

.notFound {
    width: 950px;
    position: absolute;
    margin-left: 250px;
}
